<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhk9uEtun-F4kFWveMzX0nZbJ_wNWaJjw</string>
	<key>GCM_SENDER_ID</key>
	<string>626092845831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Daisy.CodeFantasia</string>
	<key>PROJECT_ID</key>
	<string>codefantasia-f9dbf</string>
	<key>STORAGE_BUCKET</key>
	<string>codefantasia-f9dbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626092845831:ios:1456898a9bbea3bfd8f3a2</string>
</dict>
</plist>